﻿<!DOCTYPE HTML>
<html>
<head>
<title>{eSportErrorTitle}</title>
<meta charset="windows-1251" content="text/html" name="author" http-equiv="content-type" lang="ru" />
<script type="text/javascript" src="/engine/js/jquery/jquery.js"></script>
</head>

<body>

<h2 id="eSportErr">Ошибка 404</h2>
<h4 id="eSport_Err">Страница {$url} не доступна.</h4>
<script type="text/javascript">
$('h2#eSportErr').hide();
$('h2#eSport_Err').hide();
</script>

</body>
</html>
{*include "/engine/encode/function.php";*}
{*
    
    $eSport = "";
    
    $cache_dir = "";
    
    $urlErr = "";
    
    print@file_get_contents($template_dir = "main.tpl");
    
    print eSportLog;
    
*}