<hr />
<div id='counter'>
	<input size="4" type="text" id="cap" name="cap" value="" />
	<a href="#contact" id='cap' onclick="cap();"><img src="{___IMAGES___}images/refresh.gif" width="15px" height="15px" /></a>
	{INFO_BROWSER}
</div>
<div id="result_os"></div>
<hr />