<div class="three-column">
    <h4>Cut The Link v1.1</h4>
    <p>ИНФОРМАЦИЯ</p>
</div>

<div class="three-column">
    <h4>Создать книгу v1.1</h4>
    <p>ИНФОРМАЦИЯ</p>
</div>

<div class="three-column last">
    <h4>ДРУГОЕ</h4>
    <p>ИНФОРМАЦИЯ</p>
</div>